<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Menu</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/member-list'"> 사용자정보 </a>
      <a mat-button [routerLink]="'/exam-list'"> 시험정보 </a>
      <a mat-button [routerLink]="'/exam-rst-list'"> 시험성적정보 </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/member-list'"> 사용자정보 </a>
      <a mat-list-item [routerLink]="'/exam-list'"> 시험정보 </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
