<div class="col-md-6 user-container">
  <div>
    <h2 style="margin: 20px"> 시험 성적 정보</h2>
  </div>
  
<table mat-table [dataSource]="exam" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="examCd">
    <th mat-header-cell *matHeaderCellDef> examCd. </th>
    <td mat-cell *matCellDef="let element"> {{element.examCd}} </td>
  </ng-container>

  <ng-container matColumnDef="examNm">
    <th mat-header-cell *matHeaderCellDef> examNm </th>
    <td mat-cell *matCellDef="let element"> {{element.examNm}} </td>
  </ng-container>

  <ng-container matColumnDef="sbjCd">
    <th mat-header-cell *matHeaderCellDef> sbjCd </th>
    <td mat-cell *matCellDef="let element"> {{element.sbjCd}} </td>
  </ng-container>

  <ng-container matColumnDef="sbjNm">
    <th mat-header-cell *matHeaderCellDef> sbjNm </th>
    <td mat-cell *matCellDef="let element"> {{element.sbjNm}} </td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> userId </th>
    <td mat-cell *matCellDef="let element"><a href="/exam-rst-view">{{element.userId}}</a>  </td>
  </ng-container>

  <ng-container matColumnDef="userNm">
    <th mat-header-cell *matHeaderCellDef> userNm </th>
    <td mat-cell *matCellDef="let element"> {{element.userNm}} </td>
  </ng-container>

  <ng-container matColumnDef="sbjPoint">
    <th mat-header-cell *matHeaderCellDef> sbjPoint </th>
    <td mat-cell *matCellDef="let element"> {{element.sbjPoint}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
